# Don't track content of these folders
annotations/
*.ipynb_checkpoints/
*.DS_Store
*.gitmodules
*.idea/
__pycache__/
*.pyc
*.iml
*.xml
vgg19weight/
*.npy
*.env
*.tar.gz
src/stylesearch/pickles/glove.6B/glove.6B.300d.txt
webapp/pickles/glove.6B/glove.6B.300d.txt
