# gaugan
torch>=1.1.0
torchvision
dominate>=2.3.1
dill
scikit-image>=0.15.0

# attngan
python-dateutil
easydict
pandas
torchfile
nltk

# fast deep style transfer
tensorflow
tensorflow-gpu
pillow
gcc7
pycuda
ffmpeg
moviepy

# deeplab
addict
opencv
pydensecrf

# docker
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1